body{
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5;
  padding: 2.5em 1em;
  background-color:#d35400 ;
  font-family: 'Indie Flower', cursive;
  color: #ffa502;
}
a:hover{
  color:#f6b93b;
  font-size: 17.5px
}
a{
color: #3c6382

}
